.formacao{
  background-color: #285f92;
}

.formacao-container{
  max-width: 1960px;
  margin: 0 auto;
  padding: 30px 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 80px;
}

.sub {
  font-size: 10rem;
  line-height: 1;
  text-transform: uppercase;
  word-break: break-all;
  max-width: 5ch;
  opacity: 0.8;
  margin-left: -30px;
  color: #ffffff;
}

.formacao-texto{
  font-family: consolasB;
  font-size: 1.4rem;
  line-height: 1.3;
  margin-bottom: 30px;
  color: #ffffff;
  gap: -10;
}
.formacao-texto strong{
  color: #1d2e69;
}

.faculdade-lista{
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 20px;
  /* justify-items: center; */
  /* margin-left: 2rem; */
}

.faculdade{
  width: 25rem;
  padding: 1.2rem 1.5rem;
  border-radius: 6px;
  background-color: black;
  font-size: 1.212rem;
  line-height: 2rem;
}

.faculdade-tipo{
  font-size: 1.8rem;
  font-weight: bold ;
  color: #caf;
}

.escola-status{
  color: rgb(0, 255, 0);
}

.faculdade-status{
  color: rgb(221, 221, 0);
}

.curso-titulo{
  font-size: 1.7rem;
  font-weight: bold ;
  color: #caf;
}