body{
  background: #1d2e69;
  font-family: consolas;
  margin: 0;
  color: #e4dddd;
}
h1,h2,h3,p{
  margin: 0px;
}

ul{
  margin: 0px;
  padding: 0px;
  list-style: none;
}
img{
  max-width: 100%;
  display: block;
}

@media(max-width: 1367px) {
  .subtitulo{
    font-size: 7rem;
  }
}