body{
  background: #1d2e69;
  font-family: consolas;
  margin: 0;
  color: #e4dddd;
}
h1,h2,h3,p{
  margin: 0px;
}

ul{
  margin: 0px;
  padding: 0px;
  list-style: none;
}
img{
  max-width: 100%;
  display: block;
}
.subtitulo{
  font-size: 10rem;
  line-height: 1;
  text-transform: uppercase;
  word-break: break-all;
  max-width: 5ch;
  opacity: 0.7;
  margin-left: -30px;
}